- var categories = ['alkali-metals', 'alkaline-earth-metals', 'lanthanoids', 'actinoids', 'transition-metals', 'post-transition-metals', 'metalloids', 'other-nonmetals', 'noble-gasses', 'unknown'];

// ELEMENT MIXIN TEMPLATE
mixin element(number, symbol, name, mass, weight, material, column, row)
  .element(class=material)(class='c' + column)(class='r' + row)
    input.activate(type="radio", name="elements")
    input.deactivate(type="radio", name="elements")
    .overlay
    .square
      .model
        each item in weight.reverse()
          .orbital
            - for (var i = 0; i < item; i++)
              .electron
      .atomic-number= number
      .label
        .symbol= symbol
        .name= name
      .atomic-mass= mass
      ul.atomic-weight
        each item in weight.reverse()
          li= item

// PLACEHOLDER MIXIN TEMPLATE
mixin placeholder(number, material, column, row)
  .placeholder(class=material)(class='c' + column)(class='r' + row)
    .square= number

.wrapper
  each item in categories
    input.category-toggle(type="radio", id=item, name="categories")
    input#cancel.category-cancel(type="radio", name="categories")
  .periodic-table
    +element(1, 'H', 'Hidrogênio', 1.008, [1], 'other-nonmetal', 1, 1)
    +element(2, 'He', 'Hélio', 4.0026, [2], 'noble-gas', 18, 1)
    +element(3, 'Li', 'Lítio', 6.94, [3], 'alkali-metal', 1, 2)
    +element(4, 'Be', 'Berílio', 9.0122, [2,2], 'alkaline-earth-metal', 2, 2)
    +element(5, 'B', 'Boro', 10.81, [2,3], 'metalloid', 13, 2)
    +element(6, 'C', 'Carbono', 12.011, [2,4], 'other-nonmetal', 14, 2)
    +element(7, 'N', 'Nitrogênio', 14.007, [2,5], 'other-nonmetal', 15, 2)
    +element(8, 'O', 'Oxigênio', 15.999, [2,6], 'other-nonmetal', 16, 2)
    +element(9, 'F', 'Flúor', 18.998, [2,7], 'other-nonmetal', 17, 2)
    +element(10, 'Ne', 'Néon', 20.180, [2,8], 'noble-gas', 18, 2)
    +element(11, 'Na', 'Sódio', 22.990, [2,8,1], 'alkali-metal', 1, 3)
    +element(12, 'Mg', 'Magnésio', 24.305, [2,8,2], 'alkaline-earth-metal', 2, 3)
    +element(13, 'Al', 'Alumínio', 26.982, [2,8,3], 'post-transition-metal', 13, 3)
    +element(14, 'Si', 'Silício', 28.085, [2,8,4], 'metalloid', 14, 3)
    +element(15, 'P', 'Fósforo', 30.974, [2,8,5], 'other-nonmetal', 15, 3)
    +element(16, 'S', 'Enxofre', 32.06, [2,8,6], 'other-nonmetal', 16, 3)
    +element(17, 'Cl', 'Cloro', 35.45, [2,8,7], 'other-nonmetal', 17, 3)
    +element(18, 'Ar', 'Argônio', 39.948, [2,8,8], 'noble-gas', 18, 3)
    +element(19, 'K', 'Potássio', 39.098, [2,8,8,1], 'alkali-metal', 1, 4)
    +element(20, 'Ca', 'Cálcio', 40.078, [2,8,8,2], 'alkaline-earth-metal', 2, 4)
    +element(21, 'Sc', 'Escândio', 44.956, [2,8,9,2], 'transition-metal', 3, 4)
    +element(22, 'Ti', 'Titânio', 47.867, [2,8,10,2], 'transition-metal', 4, 4)
    +element(23, 'V', 'Vanádio', 50.942, [2,8,11,2], 'transition-metal', 5, 4)
    +element(24, 'Cr', 'Cromo', 51.996, [2,8,13,1], 'transition-metal', 6, 4)
    +element(25, 'Mn', 'Manganês', 54.938, [2,8,13,2], 'transition-metal', 7, 4)
    +element(26, 'Fe', 'Ferro', 55.845, [2,8,14,2], 'transition-metal', 8, 4)
    +element(27, 'Co', 'Cobalto', 58.933, [2,8,15,2], 'transition-metal', 9, 4)
    +element(28, 'Ni', 'Níquel', 58.693, [2,8,16,2], 'transition-metal', 10, 4)
    +element(29, 'Cu', 'Cobre', 63.546, [2,8,18,1], 'transition-metal', 11, 4)
    +element(30, 'Zn', 'Zinco', 65.38, [2,8,18,2], 'transition-metal', 12, 4)
    +element(31, 'Ga', 'Gálio', 69.723, [2,8,18,3], 'post-transition-metal', 13, 4)
    +element(32, 'Ge', 'Germânio', 72.630, [2,8,18,4], 'metalloid', 14, 4)
    +element(33, 'As', 'Arsênico', 74.922, [2,8,18,5], 'metalloid', 15, 4)
    +element(34, 'Se', 'Selênio', 78.971, [2,8,18,6], 'other-nonmetal', 16, 4)
    +element(35, 'Br', 'Bromo', 79.904, [2,8,18,7], 'other-nonmetal', 17, 4)
    +element(36, 'Kr', 'Criptônio', 83.798, [2,8,18,8], 'noble-gas', 18, 4)
    +element(37, 'Rb', 'Rubídio', 85.468, [2,8,18,8,1], 'alkali-metal', 1, 5)
    +element(38, 'Sr', 'Estrôncio', 87.62, [2,8,18,8,2], 'alkaline-earth-metal', 2, 5)
    +element(39, 'Y', 'Ítrio', 88.906, [2,8,18,9,2], 'transition-metal', 3, 5)
    +element(40, 'Zr', 'Zircônio', 91.224, [2,8,18,10,2], 'transition-metal', 4, 5)
    +element(41, 'Nb', 'Nióbio', 92.906, [2,8,18,12,1], 'transition-metal', 5, 5)
    +element(42, 'Mo', 'Molibdênio', 95.95, [2,8,18,13,1], 'transition-metal', 6, 5)
    +element(43, 'Tc', 'Tecnécio', '(98)', [2,8,18,13,2], 'transition-metal', 7, 5)
    +element(44, 'Ru', 'Rutênio', 101.07, [2,8,18,15,1], 'transition-metal', 8, 5)
    +element(45, 'Rh', 'Ródio', 102.91, [2,8,18,16,1], 'transition-metal', 9, 5)
    +element(46, 'Pd', 'Paládio', 106.42, [2,8,18,18], 'transition-metal', 10, 5)
    +element(47, 'Ag', 'Prata', 107.87, [2,8,18,18,1], 'transition-metal', 11, 5)
    +element(48, 'Cd', 'Cádmio', 112.41, [2,8,18,18,2], 'transition-metal', 12, 5)
    +element(49, 'In', 'Índio', 114.82, [2,8,18,18,3], 'post-transition-metal', 13, 5)
    +element(50, 'Sn', 'Estanho', 204.38, [2,8,18,18,4], 'post-transition-metal', 14, 5)
    +element(51, 'Sb', 'Antimônio', 121.76, [2,8,18,18,5], 'metalloid', 15, 5)
    +element(52, 'Te', 'Telúrio', 127.60, [2,8,18,18,6], 'metalloid', 16, 5)
    +element(53, 'I', 'Iodo', 126.90, [2,8,18,18,7], 'other-nonmetal', 17, 5)
    +element(54, 'Xe', 'Xenon', 131.29, [2,8,18,18,8], 'noble-gas', 18, 5)
    +element(55, 'Cs', 'Césio', 132.91, [2,8,18,18,8,1], 'alkali-metal', 1, 6)
    +element(56, 'Ba', 'Bário', 137.33, [2,8,18,18,8,2], 'alkaline-earth-metal', 2, 6)
    +element(57, 'La', 'Lantânio', 138.91, [2,8,18,18,9,2], 'lanthanoid', 4, 9)
    +element(58, 'Ce', 'Cério', 140.12, [2,8,18,19,9,2], 'lanthanoid', 5, 9)
    +element(59, 'Pr', 'Praseodímio', 140.91, [2,8,18,21,8,2], 'lanthanoid', 6, 9)
    +element(60, 'Nd', 'Neodímio', 144.24, [2,8,18,22,8,2], 'lanthanoid', 7, 9)
    +element(61, 'Pm', 'Promécio', 144.24, [2,8,18,23,8,2], 'lanthanoid', 8, 9)
    +element(62, 'Sm', 'Samário', 150.36, [2,8,18,24,8,2], 'lanthanoid', 9, 9)
    +element(63, 'Eu', 'Európio', 151.96, [2,8,18,25,8,2], 'lanthanoid', 10, 9)
    +element(64, 'Gd', 'Gadolínio', 157.25, [2,8,18,25,9,2], 'lanthanoid', 11, 9)
    +element(65, 'Tb', 'Térbio', 158.93, [2,8,18,27,8,2], 'lanthanoid', 12, 9)
    +element(66, 'Dy', 'Disprósio', 162.50, [2,8,18,28,8,2], 'lanthanoid', 13, 9)
    +element(67, 'Ho', 'Hólmio', 164.93, [2,8,18,29,8,2], 'lanthanoid', 14, 9)
    +element(68, 'Er', 'Érbio', 167.26, [2,8,18,30,8,2], 'lanthanoid', 15, 9)
    +element(69, 'Tm', 'Túlio', 168.93, [2,8,18,31,8,2], 'lanthanoid', 16, 9)
    +element(70, 'Yb', 'Itérbio', 173.05, [2,8,18,32,8,2], 'lanthanoid', 17, 9)
    +element(71, 'Lu', 'Lutécio', 174.97, [2,8,18,32,9,2], 'lanthanoid', 18, 9)
    +element(72, 'Hf', 'Háfnio', 178.49, [2,8,18,32,10,2], 'transition-metal', 4, 6)
    +element(73, 'Ta', 'Tântalo', 180.95, [2,8,18,32,11,2], 'transition-metal', 5, 6)
    +element(74, 'W', 'Tungstênio', 183.84, [2,8,18,32,12,2], 'transition-metal', 6, 6)
    +element(75, 'Re', 'Rênio', 186.21, [2,8,18,32,13,2], 'transition-metal', 7, 6)
    +element(76, 'Os', 'Ósmio', 190.23, [2,8,18,32,14,2], 'transition-metal', 8, 6)
    +element(77, 'Ir', 'Irídio', 192.22, [2,8,18,32,15,2], 'transition-metal', 9, 6)
    +element(78, 'Pt', 'Platina', 195.08, [2,8,18,32,17,1], 'transition-metal', 10, 6)
    +element(79, 'Au', 'Ouro', 196.97, [2,8,18,32,18,1], 'transition-metal', 11, 6)
    +element(80, 'Hg', 'Mercúrio', 200.59, [2,8,18,32,18,2], 'transition-metal', 12, 6)
    +element(81, 'Tl', 'Tálio', 204.38, [2,8,18,32,18,3], 'post-transition-metal', 13, 6)
    +element(82, 'Pb', 'Chumbo', 207.2, [2,8,18,32,18,4], 'post-transition-metal', 14, 6)
    +element(83, 'Bi', 'Bismuto', 208.98, [2,8,18,32,18,5], 'post-transition-metal', 15, 6)
    +element(84, 'Po', 'Polônio', '(209)', [2,8,18,32,18,6], 'post-transition-metal', 16, 6)
    +element(85, 'At', 'Ástato', '(210)', [2,8,18,32,18,7], 'metalloid', 17, 6)
    +element(86, 'Rn', 'Radônio', '(222)', [2,8,18,32,18,8], 'noble-gas', 18, 6)
    +element(87, 'Fr', 'Frâncio', '(223)', [2,8,18,32,18,8,1], 'alkali-metal', 1, 7)
    +element(88, 'Ra', 'Rádio', '(226)', [2,8,18,32,18,8,2], 'alkaline-earth-metal', 2, 7)
    +element(89, 'Ac', 'Actínio', '(227)', [2,8,18,32,18,9,2], 'actinoid', 4, 10)
    +element(90, 'Th', 'Tório', 232.04, [2,8,18,32,18,10,2], 'actinoid', 5, 10)
    +element(91, 'Pa', 'Protactínio', 231.04, [2,8,18,32,20,9,2], 'actinoid', 6, 10)
    +element(92, 'U', 'Urânio', 238.03, [2,8,18,32,21,9,2], 'actinoid', 7, 10)
    +element(93, 'Np', 'Netúnio', '(237)', [2,8,18,32,22,9,2], 'actinoid', 8, 10)
    +element(94, 'Pu', 'Plutônio', '(244)', [2,8,18,32,24,8,2], 'actinoid', 9, 10)
    +element(95, 'Am', 'Amerício', '(243)', [2,8,18,32,25,8,2], 'actinoid', 10, 10)
    +element(96, 'Cm', 'Cúrio', '(247)', [2,8,18,32,25,9,2], 'actinoid', 11, 10)
    +element(97, 'Bk', 'Berquélio', '(247)', [2,8,18,32,27,8,2], 'actinoid', 12, 10)
    +element(98, 'Cf', 'Califórnio', '(251)', [2,8,18,32,28,8,2], 'actinoid', 13, 10)
    +element(99, 'Es', 'Einstênio', '(252)', [2,8,18,32,29,8,2], 'actinoid', 14, 10)
    +element(100, 'Fm', 'Férmio', '(257)', [2,8,18,32,30,8,2], 'actinoid', 15, 10)
    +element(101, 'Md', 'Mendelévio', '(258)', [2,8,18,32,31,8,2], 'actinoid', 16, 10)
    +element(102, 'No', 'Nobélio', '(259)', [2,8,18,32,32,8,2], 'actinoid', 17, 10)
    +element(103, 'Lr', 'Laurêncio', '(266)', [2,8,18,32,32,8,3], 'actinoid', 18, 10)
    +element(104, 'Rf', 'Rutherfórdio', '(267)', [2,8,18,32,32,10,2], 'transition-metal', 4, 7)
    +element(105, 'Db', 'Dúbnio', '(268)', [2,8,18,32,32,11,2], 'transition-metal', 5, 7)
    +element(106, 'Sg', 'Seabórgio', '(269)', [2,8,18,32,32,12,2], 'transition-metal', 6, 7)
    +element(107, 'Bh', 'Bóhrio', '(270)', [2,8,18,32,32,13,2], 'transition-metal', 7, 7)
    +element(108, 'Hs', 'Hássio', '(277)', [2,8,18,32,32,14,2], 'transition-metal', 8, 7)
    +element(109, 'Mt', 'Meitnério', '(278)', [2,8,18,32,32,15,2], 'unknown', 9, 7)
    +element(110, 'Ds', 'Darmstádio', '(281)', [2,8,18,32,32,17,1], 'unknown', 10, 7)
    +element(111, 'Rg', 'Roentgênio', '(282)', [2,8,18,32,32,17,2], 'unknown', 11, 7)
    +element(112, 'Cn', 'Copernício', '(282)', [2,8,18,32,32,18,2], 'transition-metal', 12, 7)
    +element(113, 'Nh', 'Nihônio', '(286)', [2,8,18,32,32,18,3], 'unknown', 13, 7)
    +element(114, 'Fl', 'Fleróvio', '(289)', [2,8,18,32,32,18,4], 'post-transition-metal', 14, 7)
    +element(115, 'Mc', 'Moscóvio', '(290)', [2,8,18,32,32,18,5], 'unknown', 15, 7)
    +element(116, 'Lv', 'Livermório', '(293)', [2,8,18,32,32,18,6], 'unknown', 16, 7)
    +element(117, 'Ts', 'Tenessino', '(294)', [2,8,18,32,32,18,7], 'unknown', 17, 7)
    +element(118, 'Og', 'Organessônio', '(294)', [2,8,18,32,32,18,8], 'unknown', 18, 7)

    +placeholder('57-71', 'Lanthanóide', 3, 6)
    +placeholder('89-103', 'Actinóide', 3, 7)

    .gap.c3.r8

    .key
      .row
        label.alkali-metal(for="alkali-metals") Metais alcalinos
        label.alkaline-earth-metal(for="alkaline-earth-metals") Metais alcalinos terrestres
        label.lanthanoid(for="lanthanoids") Lanthanóides
        label.actinoid(for="actinoids") Actinóides
        label.transition-metal(for="transition-metals") Metais de transição
        label.post-transition-metal(for="post-transition-metals") Metais pós-transição
        label.metalloid(for="metalloids") Metalóides
        label.other-nonmetal(for="other-nonmetals") Outros não -metais
        label.noble-gas(for="noble-gasses") Gasses nobres
        label.unknown(for="unknown") Desconhecidos
